
.settings-label{
    font-weight: 300;
    font-size: 20px;
    float: left;
}

.save-btn{
    position: absolute;
    right: 20px;
    color: green;
}


.settings-header{
    font-weight: 600;
    margin-top: 70px;
    font-size: 20px;
    margin-left: 16px;
    margin-bottom: 10px;    
}
