form{
    margin-top: 10px;
}

ion-list{
    border-radius: 20px;
    padding:10px 20px;
}

.welcome-back-text{
    font-weight: 600;
    margin-top: 70px;
    font-size: 20px;
    margin-left: 16px;
    margin-bottom: 10px;    
}



.header-title-auth{
    white-space: nowrap;   
    margin: 5px auto;
    color: white;
    background: #222428;
  }
  