form{
    margin-top: 10px;
}

ion-list{
    border-radius: 20px;
    padding:10px 20px;
    background: #222428;
}

ion-item{
    border-radius: 20px;
    margin-bottom: 10px;
   
}
.welcome-back-text{
    font-weight: 600;
    margin-top: 70px;
    font-size: 20px;
    margin-left: 16px;
    margin-bottom: 10px;    
}


body {
    background: #222428;
}


