<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{recipient?.fname + " " + recipient?.lname }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar></ion-toolbar>
  <div class="top-header">
    <div *ngIf="recipient">
      <img [routerLink]="['/chat-room/people/view-profile/', recipient?.uid]" routerDirection="back" class="back-btn"
        src="https://img.icons8.com/android/30/000000/back.png">
    </div>

    <span class="ion-text-center">
      <div class="user-container">
        <img class="recipient-photo" [src]="recipient?.photo">
        <h1 class="header-title">{{recipient?.fname + " " + recipient?.lname }}</h1>
      </div>
    </span>
  </div>
</ion-header>

<ion-content color="light" padding #content id="ion-content">


  <ion-infinite-scroll [disabled]="disableScroll" position="top" threshold="0px"
    (ionInfinite)="getMoreMessages($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Getting Messages...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <ion-list class="chat-list" lines="none">
    <div class="chat-item" *ngFor="let message of messages; let i = index">
      <ion-item>

        <span [ngClass]=" ( message.type == 'send') ? 'sender' : 'receiver'">
          {{ message.text }}
        </span>
      </ion-item>
      <p *ngIf=" ( messages[(i - 1)]?.timestamp + 100000 < messages[i]?.timestamp) ? true : false" class="timestamp">
        {{ message.timestamp | date: 'MM/dd/yyyy, h:mm a'}}</p>
    </div>

  </ion-list>

</ion-content>


<ion-footer no-border class="ion-padding-top ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-textarea (ionFocus)="scrollToBottom()" [(ngModel)]="text" class="message-box" placeholder="Send Message"
      rows="1" autoGrow="true">
    </ion-textarea>
    <ion-buttons slot="end">
      <ion-button [disabled]="!text" (click)="sendMessage()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>