<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{recipient?.fname + " " + recipient?.lname }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding #content id="ion-content">

  <div *ngFor="let message of messages">
    <span  class="speech-bubble"> {{ message.text }}</span>
    <p>{{ message.timestamp | date:'short' }}</p>
  </div>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-textarea [(ngModel)]="text" style="border: 2px solid #f3f3f3; padding: 4px; border-radius: 5px;" rows="1"
      autoGrow="true">
    </ion-textarea>
    <ion-buttons slot="end">
      <ion-button (click)="sendMessage()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>