<ion-header>
  <ion-toolbar color="dark" no-border></ion-toolbar>
  <span class="ion-text-center">
    <h1 class="header-title-auth">Checkdn</h1>
  </span>

</ion-header>

<ion-content color="dark" class="ion-padding">
  <ion-slides>
    <ion-slide>
      <h2>Check into where you are</h2>
      <img src="https://img.icons8.com/pastel-glyph/400/000000/worldwide-location--v2.png">
      <p style="color: #fff">Swipe</p>
    </ion-slide>
    <ion-slide>
      <h2>Chat with other people there</h2>
      <img src="https://img.icons8.com/ios-filled/400/000000/messaging-.png">
      <p style="color: #fff">Swipe</p>
    </ion-slide>
    <ion-slide>
      <h2>View other peoples profiles</h2>
      <img src="https://img.icons8.com/ios-filled/400/000000/parse-resumes.png">
      <p style="color: white"  routerLink="/login">Continue </p>
    </ion-slide>

  </ion-slides>
</ion-content>