
.image-container{
   
    margin: auto;
    }


.image-label{
    font-weight: 300;
    font-size: 20px;
}

.image-preview-container{
    margin: auto;
}

.image-preview-label{
    font-weight: 300;
    font-size: 20px;
}

