/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

img, img:active{
    border: 0;
}
*{
    font-family: 'Poppins', sans-serif !important;
}
h1 {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
h2 {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    ;
}


.icon-one {
    font-size: 25px;
    margin-top: 0px;
    float: right;
}

.icon-header-right{

    border: 0px;
    position: absolute;
    bottom: 8px;
    right: 20px
}

.icon-header-left{
    border: 0px;
    position: absolute;
    bottom: 8px;
    left: 20px
}

.back-btn{
    border: 0px;
    position: absolute;
    bottom: 8px;
    left: 10px
}


.top-header{
    position: relative;
    height: 40px;
}


.header-title{
    white-space: nowrap;   
    margin: 5px auto;
}

.auth-label{
    font-weight: 300;
    font-size: 20px;
    float: left;
}
ion-header{
background:white;

}

* {
    scroll-behavior: smooth;
  }

