<ion-header>
  <ion-toolbar no-border></ion-toolbar>
  <div class="top-header">
    <div routerLink="/home/settings" routerDirection="back">
      <img class="icon-header-settings" src="https://img.icons8.com/cotton/32/000000/settings.png"> </div>
    <span class="ion-text-center">
      <h1 class="header-title">Home</h1>
    </span>
    <div routerLink="/home/profile">
      <img class="icon-header-right" src="https://img.icons8.com/ios/30/000000/user.png">
    </div>
  </div>

</ion-header>

<ion-content class="ion-padding-none">


  <div style="clear:both"></div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>



  <div class="places-container">
    <ion-row *ngFor="let place of places">
      <ion-col size="12">
        <div class="place-name">{{ (place?.name.length < 21) ?  place?.name : place?.name.slice(0, 20) + "..."}}
          <span (click)="selectPlace(place)" class="checkin-btn">Check in</span>
        </div>
        <div style="font-weight: 300;" class="place-count"> {{ people }} {{(people == 1) ? "person" : "people" }}</div>
      </ion-col>
    </ion-row>
  </div>



</ion-content>