<ion-header>
  <ion-toolbar></ion-toolbar>
  <div class="top-header">
    <div>
      <img routerLink="/home" routerDirection="back" class="back-btn"
        src="https://img.icons8.com/android/30/000000/back.png">
    </div>

    <span class="ion-text-center">
      <h1 class="header-title">Profile</h1>
    </span>
  </div>
</ion-header>

<ion-content>
  <div *ngIf="user" class="profile-image-container">
    <span class="image-container">
      <img class="profile-image" [src]="(user?.photo) ? user?.photo : '../../../assets/profile.png'">
      <span *ngIf="user.photo == originalUser.photo" class="image-edit-button">
        <label for="picture-input">
          <ion-icon class="image-icon" name="camera"></ion-icon>
          <input (change)="cropImage($event)" type="file" id="picture-input" style="display: none;" accept="image/*" />
        </label>
      </span>
    </span>
    <div *ngIf="user.photo != originalUser.photo">
      <span (click)="savePic()" class="image-save-btn"> Save</span>
      <span (click)="cancelPic()" class="image-cancel-btn"> Cancel</span>
    </div>
  </div>

  <div class="user-name-label">{{ user?.fname + ' ' + user?.lname }} </div>

  <div class="social-media-header">Social Media</div>
  <ion-list *ngIf="user && originalUser">
    <ion-item>
      <ion-label (click)="testFacebook()" class="social-media-label" position="stacked">Facebook </ion-label>
      <ion-input [(ngModel)]="user.facebook" placeholder="https://www.facebook.com/john.smith"
        class="social-media-input"> </ion-input>
      <span (click)="saveFacebook()" *ngIf="user?.facebook != originalUser?.facebook" class="save-btn">save</span>
    </ion-item>
    <ion-item>
      <ion-label class="social-media-label" position="stacked">LinkedIn
      </ion-label>
      <ion-input [(ngModel)]="user.linkedin" placeholder="https://www.linkedin.com/in/john" class="social-media-input">
      </ion-input>
      <span (click)="saveLinkedin()" *ngIf="user?.linkedin != originalUser?.linkedin" class="save-btn">save</span>
    </ion-item>

  </ion-list>

</ion-content>